body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 58px;
  color: var(--text-primary);
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 58px;
  color: var(--text-primary);
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: var(--text-primary);
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: var(--text-primary);
}

h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--text-primary);
}

h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: var(--text-primary);
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

:root {
  --primary-color: #5357c5;
  --secondary-color: #9ca0ff;
  --gray-color: #e2e2e2;
  --text-primary: rgba(0, 0, 0, 0.8);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-tertiary: rgba(0, 0, 0, 0.4);
  --background-primary: #ffffff;
  --background-secondary: #f8f8f8;
  --background-tertiary: #f2f2f2;
  --ornament: #e2e2e2;
  --card: #ffffff;

  --box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.08),
    0px 0.893452px 9.60461px rgba(0, 0, 0, 0.043507),
    0px 0.266004px 2.85954px rgba(0, 0, 0, 0.0255515);
  --button-shadow: 0px 9px 53px rgba(83, 87, 197, 0.41),
    0px 2.01027px 11.8382px rgba(83, 87, 197, 0.244404),
    0px 0.598509px 3.52455px rgba(83, 87, 197, 0.165596);

  --button-shadow-hover: 0px 9px 53px rgba(83, 87, 197, 0.81),
    0px 2.01027px 11.8382px rgba(83, 87, 197, 0.244404),
    0px 0.598509px 3.52455px rgba(83, 87, 197, 0.165596);
  --footer: #404040;
}

.App {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.d-flex {
  display: flex;
}

.d-flex.col {
  flex-direction: column;
}

.d-flex.wrap {
  flex-wrap: wrap;
}

.padding-md {
  padding: 24px;
}

.mb-sm {
  margin-bottom: 16px;
}

.mb-md {
  margin-bottom: 24px;
}

.ml-sm {
  margin-left: 16px;
}

.-ml-sm {
  margin-left: -16px;
}

.ml-lg {
  margin-left: 40px;
}

.center {
  align-items: center;
  justify-content: center;
}

.border {
  border: 1px solid #e2e2e2;
  border-radius: 8px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
}

.modal {
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 8;
}

input {
  flex: 1 1;
  font-style: normal;
  font-size: 16px;
  padding-right: 48px;
  line-height: 24px;
  color: var(--text-primary);
  background: transparent;
  border: 0px;
  padding: 12px 16px;
  background: var(--background-tertiary);
  border-radius: 4px;
  border: 0px;
  display: flex;
  width: 100%;
  /* max-width: 367px; */
  position: relative;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-primary);
  opacity: 0.8; /* Firefox */
}

button {
  background: var(--primary-color);
  box-shadow: var(--button-shadow);
  padding: 12px 16px;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #f8f8f8;
  font-weight: bold;
  min-width: 120px;
  text-align: center;
}
button:hover {
  box-shadow: var(--button-shadow-hover);
}

.container {
  max-width: 1024px;
  width: 100vw;
  padding: 24px;
}

.divider {
  border-bottom: 1px solid var(--gray-color);
}
